* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: sans-serif;
}

body {
}

main {
  font-size: 0;
  background-color: #88a2;
  margin-top: 60px;
  padding: 2rem 0;
  min-height: calc(100vh - 60px - 2rem);
}
section {
  font-size: 16px;
}

.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translate(20px, 0) scale(0.9);
}
.list-leave-active {
  position: absolute !important;
}

.base-button {
  cursor: pointer;
  font-size: 1rem;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  color: #568;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 5px 0 #ddd;
}
.base-button:hover {
  color: #59a;
  box-shadow: inset 0 1px 5px 0 #ddd;
}
.base-button.active {
  color: #568;
  background-color: #aef3;
  box-shadow: inset 0 1px 5px 0 #ddd;
}
